<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browser" value="Firefox"></parameter>
<!--	<listeners>
	<listener class-name="listener.MyListener"></listener>
</listeners>-->

	<listeners>
		<listener class-name="listener.CustomListener"></listener>
	</listeners>


	<!-- Test 
	<test name="BOEExtensionTest">
		<classes>
			<class name="com.htcindia.trracs.testcases.BOEExtensionTest" />
		</classes>
	</test>
	<test name="OrmMasterPageTest">
		<classes>
			<class name="com.htcindia.trracs.testcases.OrmMasterPageTest" />
		</classes>
	</test>  -->
	<!--test name="BOEClosureTest">
		<classes>
			<class name="com.htcindia.trracs.testcases.BOEClosureTest" />
		</classes-->

	<test name="MounteBankAPITest">
		<classes>
			<class name="testcases.MounteBankAPITest" />
		</classes>
	</test>

<!--	<test name="APITest">
			<classes>
				<class name="testcases.APITest"></class>
			</classes>
	</test>-->



</suite> <!-- Suite -->
