<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TRRACS">
	<listeners>
		<listener
			class-name="com.htcindia.trracs.listener.MyListener" />
	</listeners>

	<test name="Import Module" >
		<classes>
			<class name="com.htcindia.trracs.testcases.BOEExtensionTest"/>
		</classes>
	</test>
</suite>